* {
    box-sizing: border-box;
}

html {
    font-size: 24px;
    font-family: Helvetica, sans-serif;
}

body {
    background: black;
    color: grey;
}

h1 {
    padding-left: 1rem;
    margin: 0;
}

layer-label {
    display: block;
    margin: -3rem 0 1rem 0;
}

layer-box {
    display: block;
    float: left;
    width: 46rem;
    margin: 1rem 1rem 2rem 1rem;;
    padding: 0;
}

key-row {
    display: flex;
    justify-content: center;
}

key-placeholder,
key-cap {
    margin: 0.2rem;
}

key-placeholder {
    display: block;
    width: 3rem;
    height: 3rem;
    position: relative;
}

key-cap {
    font-size: 0.7rem;
    display: block;
    width: 3rem;
    height: 3rem;
    background: #555;
    color: white;
    position: relative;
    border-radius: 0.2rem;

    border-bottom: 0.4rem solid #444;
    border-left:   0.3rem solid #333;
    border-right:  0.3rem solid #333;
    border-top:    0.2rem solid #222;
}

key-macro {
    position: absolute;
    top: 0.3rem;
    left: 0.15rem;
    text-align: center;
    color: cornflowerblue;
}

key-macro-desc {
    position: absolute;
    color: cornflowerblue;
    bottom: 0.3rem;
    right: 0.3rem;
    font-size: 70%;
}

key-macro.emacs,
key-macro-desc.emacs {
    color: violet;
}

key-tap {
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
}

key-tap.dim {
    color: #888;
}

key-tap.big {
    font-size: 1.2rem;
    left: 0;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

key-tap.big-unshifted {
    font-size: 1rem;
    top: 50%;
    transform: translateY(-50%);
    left: 0.3rem;
}

key-shifted {
    position: absolute;
    font-size: 1rem;
    right: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
    color: gold;
}

key-hold {
    color: limegreen;
    position: absolute;
    bottom: 0.3rem;
    left: 0.3rem;
}
